.background {
  background-image: #FDFDFD;
  width: 100vw;
  height: 100vh;
}

.information-container {
  min-width: 720px;
  width: 33%;
  color: #444444;
  margin: auto;
  padding: 100px 0;
}

t1 {
  font-size: 56px;
}

t3 {
  font-size: 30px;
}

t4 {
  font-size: 22px;
}

p {
  font-size: 16px;
}

.section-container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.section-title {
  margin-bottom: 30px;
}
